version: 2.1

jobs:
  build-lint:
    docker:
      - image: python:3.7.3-stretch

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: test command
          command: |
            ls -lart
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
            - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make install
            wget -O /bin/hadolint https://github.com/hadolint/hadolint/releases/download/v1.16.3/hadolint-Linux-x86_64 && chmod +x /bin/hadolint
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: run lint
          command: |
            . venv/bin/activate
            make lint  
  build-docker:
    docker:
      - image: circleci/golang:1.15
      
    working_directory: ~/app
    
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.14
      - run:
          name: Build Docker Image
          command: | 
            echo "Building Docker Image..."
            docker build --tag=$IMAGE_TAG .
            docker image ls
      - run:
          name: Upload Image to Dockerhub repository
          command: |
            echo "Uploading Image to Dockerhub..."
            docker login -u="$DOCKERHUB_USER" -p="$DOCKERHUB_PASS"
            docker tag $IMAGE_TAG $DOCKERHUB_USER/$IMAGE_TAG:$CIRCLE_WORKFLOW_ID
            docker push $DOCKERHUB_USER/$IMAGE_TAG:$CIRCLE_WORKFLOW_ID
      
  create-eks-infrastructure:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run:
          name: Install required dependencies
          command: | 
            yum install -y tar gzip
      - run:
          name: Create kubernetes cluster network
          command: |
              aws cloudformation deploy --template-file aws/eks_network.yml --tags project=udacity-capstone --stack-name udacity-capstone-eks-network-stack --region ${AWS_DEFAULT_REGION} --parameter-overrides file://aws/eks_network_parameters.json
      - run:
          name: Create kubernetes cluster
          command: |
            aws cloudformation deploy --template-file aws/eks_cluster.yml --tags project=udacity-capstone --stack-name "udacity-capstone-eks-cluster-stack" --region ${AWS_DEFAULT_REGION} --parameter-overrides file://aws/eks_cluster_parameters.json --capabilities CAPABILITY_NAMED_IAM
      - run:
          name: Create kubernetes cluster nodegroup
          command: |
            aws cloudformation deploy --template-file aws/eks_nodegroup.yml --tags project=udacity-capstone --stack-name "udacity-capstone-eks-nodegroup-stack" --region ${AWS_DEFAULT_REGION} --parameter-overrides file://aws/eks_nodegroup_parameters.json --capabilities CAPABILITY_NAMED_IAM
      - run:
          name: Create cluster management instance
          command: |
            aws cloudformation deploy --template-file aws/eks_management.yml --tags project=udacity-capstone --stack-name "udacity-capstone-eks-management-stack" --region ${AWS_DEFAULT_REGION} --parameter-overrides file://aws/eks_management_parameters.json
      - run:
          name: Fetch ip of the Management Instance
          command: |
            aws ec2 describe-instances --region "${AWS_DEFAULT_REGION}" --query 'Reservations[*].Instances[*].PublicIpAddress' --filters "Name=tag:Name,Values=${ENVIRONMENT_NAME}-management*" --output text >> ~/inventory.txt
            cat ~/inventory.txt
      - persist_to_workspace:
          root: ~/
          paths:
            - inventory.txt


workflows:
  default:
    jobs:
      - build-lint
      - build-docker:
          requires:
            - build-lint
          filters:
            branches:
              only: [ master ]
      - create-eks-infrastructure:
          requires:
            - build-docker      
          filters:
            branches:
              only: [ master ]
      - create-eks-infrastructure
