version: 2.1

jobs:
  build-lint:
    docker:
      - image: python:3.7.3-stretch

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: test command
          command: |
            ls -lart
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
            - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make install
            wget -O /bin/hadolint https://github.com/hadolint/hadolint/releases/download/v1.16.3/hadolint-Linux-x86_64 && chmod +x /bin/hadolint
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: run lint
          command: |
            . venv/bin/activate
            make lint  
  build-docker:
    docker:
      - image: circleci/golang:1.15
      
    working_directory: ~/app
    
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.14
      - run:
          name: Build Docker Image
          command: | 
            echo "Building Docker Image..."
            docker build --tag=$IMAGE_TAG .
            docker image ls
      - run:
          name: Upload Image to Dockerhub repository
          command: |
            echo "Uploading Image to Dockerhub..."
            docker login -u="$DOCKERHUB_USER" -p="$DOCKERHUB_PASS"
            docker tag $IMAGE_TAG $DOCKERHUB_USER/$IMAGE_TAG:$CIRCLE_WORKFLOW_ID
            docker push $DOCKERHUB_USER/$IMAGE_TAG:$CIRCLE_WORKFLOW_ID
      
  create-eks-infrastructure:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run:
          name: Install required dependencies
          command: | 
            yum install -y tar gzip
      - run:
          name: Create kubernetes cluster network
          command: |
              aws cloudformation deploy --template-file aws/eks_network.yml --tags project=udacity-capstone --stack-name udacity-capstone-eks-network-stack --region ${AWS_DEFAULT_REGION} --parameter-overrides file://aws/eks_network_parameters.json
      - run:
          name: Create kubernetes cluster
          command: |
            aws cloudformation deploy --template-file aws/eks_cluster.yml --tags project=udacity-capstone --stack-name "udacity-capstone-eks-cluster-stack" --region ${AWS_DEFAULT_REGION} --parameter-overrides file://aws/eks_cluster_parameters.json --capabilities CAPABILITY_NAMED_IAM
      - run:
          name: Create kubernetes cluster nodegroup
          command: |
            aws cloudformation deploy --template-file aws/eks_nodegroup.yml --tags project=udacity-capstone --stack-name "udacity-capstone-eks-nodegroup-stack" --region ${AWS_DEFAULT_REGION} --parameter-overrides file://aws/eks_nodegroup_parameters.json --capabilities CAPABILITY_NAMED_IAM
      - run:
          name: Create cluster management instance
          command: |
            aws cloudformation deploy --template-file aws/eks_management.yml --tags project=udacity-capstone --stack-name "udacity-capstone-eks-management-stack" --region ${AWS_DEFAULT_REGION} --parameter-overrides file://aws/eks_management_parameters.json
      - run:
          name: Fetch ip of the Management Instance
          command: |
            aws ec2 describe-instances --region "${AWS_DEFAULT_REGION}" --query 'Reservations[*].Instances[*].PublicIpAddress' --filters "Name=tag:Name,Values=${ENVIRONMENT_NAME}-management*" --output text >> ~/inventory.txt
            cat ~/inventory.txt
      - persist_to_workspace:
          root: ~/
          paths:
            - inventory.txt

  configure-capstone-app:
    docker:
      - image: python:3.7-alpine3.11  
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "d9:a6:b0:d2:8a:4a:1d:48:82:d9:93:09:39:a8:11:5a"
      - attach_workspace:
          at: ~/
      - run:
          name: Install utilities
          command: |
            apk add --update curl tar ansible
            curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            unzip awscliv2.zip
            ./aws/install
            curl -o "kubectl" "https://amazon-eks.s3.us-west-2.amazonaws.com/1.19.6/2021-01-05/bin/linux/amd64/kubectl"
            chmod +x ./kubectl
            mkdir -p $HOME/bin && cp ./kubectl $HOME/bin/kubectl && export PATH=$PATH:$HOME/bin
            echo "export PATH=$PATH:$HOME/bin" >> .bashrc
            /usr/local/bin/aws eks update-kubeconfig --region us-east-1 --name udacity-capstone-eks-cluster
            $HOME/bin/kubectl apply -f eks/capstone_eks_project.yaml
#            $HOME/bin/kubectl set image deployments/udacity-capstone-deployment udacity-capstone-app=amitkhurana/$DOCKERHUB_USER/$IMAGE_TAG:$CIRCLE_WORKFLOW_ID

workflows:
  default:
    jobs:
      - build-lint
      - build-docker:
          requires:
            - build-lint
      - create-eks-infrastructure:
          requires:
            - build-docker
      - configure-capstone-app:
          requires:
            - create-eks-infrastructure
            - build-docker
            - build-lint
