version: 2.1

jobs:
  build-lint:
    docker:
      - image: python:3.7.3-stretch

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: test command
          command: |
            ls -lart
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make install
            # Install hadolint
            wget -O /bin/hadolint https://github.com/hadolint/hadolint/releases/download/v1.16.3/hadolint-Linux-x86_64 &&\
                chmod +x /bin/hadolint
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      # run lint!
      - run:
          name: run lint
          command: |
            . venv/bin/activate
            make lint  
  build-docker:
    docker:
      - image: circleci/golang:1.15
      
    working_directory: ~/app
    
    steps:
      - checkout
      - run:
          name: Build Docker Image
          command: | 
            echo "Building Docker Image..."
            docker build --tag=$IMAGE_TAG .
            docker image ls
      - run:
          name: Upload Image to Dockerhub repository
          command: |
            echo "Uploading Image to Dockerhub..."
            docker login -u="$DOCKERHUB_USER" -p="$DOCKERHUB_PASS"
            docker tag $IMAGE_TAG $DOCKERHUB_USER/$IMAGE_TAG:$CIRCLE_WORKFLOW_ID
            docker push $DOCKERHUB_USER/$IMAGE_TAG:$CIRCLE_WORKFLOW_ID
            

workflows:
  default:
    jobs:
      - build-lint
      - build-docker:
          requires:
            - build-lint
          filters:
            branches:
              only: [ master ]
